<html>
	<head>
			<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
			<meta http-equiv="Pragma" content="no-cache" />
			<meta http-equiv="Expires" content="0" />
		
	</head>

	<body bgcolor=#befaf9>

		<center>

			<h1>  Image Interpolation from the chosen latent points :  </h1>
		
		
			<h1>First Point Image </h1>  
			<img class="NO-CACHE" src='static\img0.png' alt="first image" width="350" height="350">  

		
			<h1>Second Point Image </h1>
			<img class="NO-CACHE" src='static\img49.png' alt="second image" width="350" height="350">
			
			<h1>Transition between the images</h1>
			<img class="NO-CACHE" src='static\morphing.gif' alt="transition gif" width="350" height="350">
			
			<h1>Feature Arithmatic</h1>
			<img class="NO-CACHE" src='static\add.png' alt="feature arithmatic" width="350" height="350">
		
		

			<br><br>
		<a href='/'>go back to home page</a>

		</center>

	</body>

</html>